<div class="row">
  <div class="col-md-6 check_boxes">
    <%= b.check_box(class: "check_box") %> <%= b.object.name %>
  </div>

  <div class="col-md-6">
    <div class="col-md-3 new-ingredient-label">
      <label class="input-label">Amount:</label>
    </div>

    <div class="col-md-3">
      <input type="number" name="recipe[hop_amounts][][<%= b.object.id %>]" value="<%= recipe_hop_amount(b.object) %>" class="amount-input-field"> (oz)
    </div>


    <div class="col-md-3 new-ingredient-label">
      <label class="input-label">Addition Time:</label>
    </div>

    <div class="col-md-3">
      <input type="number" name="recipe[addition_time][][<%= b.object.id %>]" value="<%= recipe_hop_addition_time(b.object) %>" class="amount-input-field"> (min)<br>
    </div>
  </div>
</div>
