<div class="container">
  <%= form_for [current_user, recipe] do |f| %>
    <% if recipe.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(recipe.errors.count, "error") %>
          prohibited this recipe from being saved:
        </h2>

        <ul>
        <% recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <section class="recipe-form">
      <div class="recipe-header">
          <h3>Recipe Name</h3>
          <%= f.text_field :name %><br>
      </div>

      <hr>

      <div class="row recipe-row-1">
        <div class="col-md-6">
          <h3 class="input-header">Style</h3>
          <div class="col-md-6 new-attribute-label">
            <%= f.label "Pick a style:" %>
          </div>
          <div class="<%= div_style_class %> col-md-6">
            <%= f.collection_select(:style_id, styles.sort_by { |f| f.name }, :id, :name, include_blank: true) %><br>
          </div><br>

          <h4 class="new-ingredient-label">Add a new style to your recipe</h4>
          <div class="style-input">
            <%= f.fields_for :style do |style| %>
              <%= style.label "Style:" %>
              <%= style.text_field :name %>
            <% end %><br>
          </div>

        </div>

        <div class="col-md-6 right-column">
          <div class="col-md-6 input-label">
            <%= f.label "Boil Time:" %>
          </div>
          <div class="col-md-6">
            <%= f.number_field :boil_time, class: "amount-input-field" %> (min)<br>
          </div>

          <div class="col-md-6 input-label">
            <%= f.label "Efficiency:" %>
          </div>
          <div class="col-md-6">
            <%= f.number_field :efficiency, class: "amount-input-field" %> (%)<br>
          </div>
        </div>
      </div>
    </section>

    <section class="recipe-form">
      <h3 class="recipe-header">Fermentables</h3>
      <div class="row ingredient-checkboxes">
        <%= f.collection_check_boxes(:fermentable_ids, fermentables.sort_by { |f| f.name.downcase }, :id, :name) do |b| %>
          <%= render 'fermentables/fermentables_check_box', :b => b %>
        <% end %>
      </div>


      <h4 class="new-ingredient-label">Add a new fermentable to your recipe</h4>
      <div class="row">
        <%= f.fields_for :fermentables do |fermentable| %>
          <%= render 'fermentables/new_fermentable', :fermentable => fermentable %>
        <% end %>
      </div>

    </section><br>

    <section class="recipe-form">
      <h3 class="recipe-header">Hops</h3>
      <!-- <div class="row ingredient-checkboxes">
        <%#= f.collection_check_boxes(:hop_ids, hops.sort_by { |f| f.name.downcase }, :id, :name) do |b| %>
          <%#= render 'hops/hops_check_box', :b => b %>
        <%# end %>
      </div> -->

      <div id="hops-selection" class="row">
        <% if @recipe.recipe_hops.empty? %>
          <%= render 'hops/new_hop_dropdowns', :hops => hops, :f => f %>
        <% else %>
          <%= render 'hops/edit_hop_dropdowns', :hops => hops, :f => f %>
        <% end %>
      </div>
      <div id="new-hop-dropdown">

      </div>

      <div id="hop-button-div">
        <a id="add-hop-button" style="color: black;">Add another hop</a><br>
      </div>

      <div class="row">
        <h4 class="new-ingredient-label">Add a new hop variety to your recipe</h4>
        <%= f.fields_for :hops do |hop| %>
          <%= render 'hops/new_hop', :hop => hop %>
        <% end %>
      </div>

    </section><br>

    <section class="recipe-form">
      <h3 class="recipe-header">Yeasts</h3>

      <div id="yeast-selection">
        <% if @recipe.recipe_yeasts.empty? %>
          <%= render 'yeasts/new_yeast_dropdowns', :yeasts => yeasts, :f => f %>
        <% else %>
          <%= render 'yeasts/edit_yeast_dropdowns', :yeasts => yeasts, :f => f %>
        <% end %>
      </div>

      <div id="yeast-button-div">
        <a id="add-yeast-button" style="color: black;">Add another yeast</a><br>
      </div>

      <h4 class="new-ingredient-label">Add a new yeast variety to your recipe</h4>
      <%= f.fields_for :yeasts do |yeast| %>
        <%= render 'yeasts/new_yeast', :yeast => yeast %>
      <% end %><br>
    </section>

    <br>

    <div class="submit-recipe-button">
      <%= f.submit %>
    </div>
  <% end %>
</div>

<!-- MOVE THIS -->
<!-- ADD HANDLEBARS -->
<!-- GETTING ERRORS WHEN HOP DROPDOWN IS BLANK -->
<script>
  $(function() {
    $("#add-yeast-button").click(function() {
      $("#yeast-selection").append("<select name='recipe[yeast_ids][]' id='recipe_yeast_ids'><option value=''></option><% yeasts.order(:brand, :variety).each do |yeast| %><option value='<%=yeast.id%>'><%= yeast.brand %> - <%=yeast.variety%></option><% end %></select><br>")
    })

    let hopCounter = 1

    $("#add-hop-button").click(function() {
      hopCounter += 1

      $("#hops-selection").append(`<div class="hops-dropdown"><select name="recipe[hop_ids][]" class="col-md-4" onchange="updateHopIndexes(this.value, ${hopCounter})" id="recipe_hop_ids"><option value=""></option><% hops.sort_by { |f| f.name.downcase }.each do |hop| %><option value='<%=hop.id%>'><%= hop.name %></option><% end %></select></div><div class="col-md-4"><div class="col-md-6 input-label"><label>Amount:</label></div><div class="col-md-6 hop-amount-input-div-${hopCounter}"><input type="number" name="recipe[hop_amounts][]" value="" class="hop-amount-input"> (oz)</div></div><div class="col-md-4"><div class="col-md-6 input-label"><label>Addition Time:</label></div><div class="col-md-6 hop-addition-time-input-div-${hopCounter}"><input type="number" name="recipe[addition_time][]" value="" class="hop-amount-input"> (min)<br></div></div>`)
    })
  })

  function updateHopIndexes(id, index) {
    $(`.hop-amount-input-div-${index}`).html(`<input type="number" name="recipe[hop_amounts][][${id}]" value="" class="hop-amount-input"> (oz)`)
    $(`.hop-addition-time-input-div-${index}`).html(`<input type="number" name="recipe[addition_time][][${id}]" value="" class="hop-amount-input"> (min)<br>`)
  }


</script>
