<h1>New Recipe</h1>

<%= form_for [current_user, @recipe] do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recipe.errors.count, "error") %>
        prohibited this post from being saved:
      </h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label "Name:" %>
  <%= f.text_field :name %><br>
  <%= f.label "Boil Time (min):" %>
  <%= f.number_field :boil_time %><br>

  <%= f.label "Style:" %>
  <%= f.collection_select(:style_id, Style.all.sort_by { |f| f.name }, :id, :name, include_blank: true) %><br>

  <%= f.fields_for current_user do |ff|%>
    <%= ff.label "Brewhouse Efficiency Percentage:" %>
    <%= ff.number_field :efficiency %><br>
  <% end %>

  <section>
    <h3>Fermentables</h3>
      <!-- <%# @fermentables.each do |fermentable| %>
        <input type="checkbox" value="<%#= fermentable.id %>" name="recipe[recipe_fermentables_attributes][][fermentable_id]">
        <%#= fermentable.name %> |
        <label>Amount:</label>
        <input type="number" name="recipe[recipe_fermentables_attributes][][amount]"><br>
      <%# end %> -->

      <%= f.collection_check_boxes(:fermentable_ids, Fermentable.all, :id, :name) do |b| %>
        <div class="row">
          <%= b.label(class: "check_box") do %>
            <div class="col-xs-4">
              <%= b.check_box(class: "check_box") %>
              <%= b.object.name %>
            </div>
          <% end %>
        </div>
      <% end %><br>

    <!-- Change this to fields for -->
    <h4>Add a new fermentable to your recipe</h4>
    <label>Name:</label>
    <input type="text" name="recipe[fermentables_attributes][][name]">
    <label>PPG:</label>
    <input type="text" name="recipe[fermentables_attributes][][pound_per_gallon]">
    <label>Lovibond:</label>
    <input type="text" name="recipe[fermentables_attributes][][lovibond]">
    <label>DP:</label>
    <input type="text" name="recipe[fermentables_attributes][][diastatic_power]" >

  </section><br>

  <section>
    <h3>Hops</h3>

    <%= f.collection_check_boxes(:hop_ids, Hop.all, :id, :name) do |b| %>
      <div class="row">
        <%= b.label(class: "check_box") do %>
          <div class="col-xs-4">
            <%= b.check_box(class: "check_box") %>
            <%= b.object.name %>
          </div>
        <% end %>
      </div>
    <% end %>

    <h4>Add a new hop variety to your recipe</h4>
    <label>Name:</label>
    <input type="text" name="recipe[hops_attributes][][name]">
    <label>AA:</label>
    <input type="text" name="recipe[hops_attributes][][alpha_acids]">

  </section>

  <section>
    <h3>Yeasts</h3>

    <%= f.collection_check_boxes(:yeast_ids, Yeast.all, :id, :variety) do |b| %>
      <div class="row">
        <%= b.label(class: "check_box") do %>
          <div class="col-xs-4">
            <%= b.check_box(class: "check_box") %>
            <%= b.object.variety %>
          </div>
        <% end %>
      </div>
    <% end %><br>

    <h4>Add new yeast to your recipe</h4>
    <label>Brand:</label>
    <input type="text" name="recipe[yeasts_attributes][][brand]">
    <label>Variety:</label>
    <input type="text" name="recipe[yeasts_attributes][][variety]">

  </section>

  <br></br>
  <%= f.submit %>
<% end %>

<!-- My attempt with multi select boxes. Looks bad with no JS -->
<!-- <section>
  <h3>Fermentables</h3>

  <%#= f.fields_for :fermentables do |fermentable_builder| %>
    <%#= fermentable_builder.label "Fermentables:" %>
    <%#= collection_select(:recipe, :fermentable_ids, @fermentables.sort_by { |f| f.name }, :id, :name, {}, {:multiple => true} ) %><br>

    <%#= fermentable_builder.label "New Fermentable Name:" %>
    <%#= fermentable_builder.text_field :name %>
  <%# end %><br>

</section>

<section>
  <h3>Hops</h3>

  <%#= f.fields_for :hops do |hops_builder| %>
    <%#= hops_builder.label "Hops:" %>
    <%#= collection_select(:recipe, :hop_ids, @hops.sort_by { |f| f.name }, :id, :name, {}, {:multiple => true} ) %><br>

    <%#= hops_builder.label "New Hop Name:" %>
    <%#= hops_builder.text_field :name %>
  <%# end %><br>

</section>

<section>
  <h3>Yeast</h3>

  <%#= f.fields_for :yeasts do |yeast_builder| %>
    <%#= yeast_builder.label "Yeasts:" %>
    <%#= collection_select(:recipe, :yeast_ids, @yeasts.all.sort_by { |f| f.variety }, :id, :variety, {}, {:multiple => true} ) %><br>

    <%#= yeast_builder.label "New Yeast Brand:" %>
    <%#= yeast_builder.text_field :brand %><br>

    <%#= yeast_builder.label "New Yeast Variety:" %>
    <%#= yeast_builder.text_field :variety %>
  <%# end %><br>

</section> -->
