<h1><%= @recipe.name %></h1>

<h3>Created By: <%= @recipe.user.name %></h3>

<h4>Style</h4>
<%= @recipe.style.name %>

<h4>Fermentables</h4>
<% @recipe.recipe_fermentables.each do |recipe_fermentable| %>
    <ul>
      <!-- Make a method to show 0 lbs if amount is nil -->
      <li><%= recipe_fermentable.fermentable.name %> | <%= recipe_fermentable.amount %> lbs</li>
    </ul>
<% end %>

<h4>Hops</h4>
<% @recipe.recipe_hops.each do |recipe_hop| %>
    <ul>
      <li><%= recipe_hop.hop.name %> | <%= recipe_hop.amount %> oz | <%= recipe_hop.addition_time %> min</li>
    </ul>
<% end %>

<h4>Yeast</h4>
<% @recipe.recipe_yeasts.each do |recipe_yeast| %>
    <ul>
      <li><%= recipe_yeast.yeast.brand %></li>
      <ul>
        <li><%= recipe_yeast.yeast.variety %></li>
      </ul>
    </ul>
<% end %>

<% if @recipe.user == current_user %>
  <%= link_to "Edit Recipe", edit_user_recipe_path(current_user, @recipe) %> |
  <%= link_to "Delete Recipe", user_recipe_path(@recipe), :method => :delete %>
<% end %>
