<h1><%= @recipe.name %></h1>

<h3>Created By: <%= @recipe.user.name %></h3>

<label>Fermentables</label>
<% @recipe.recipe_fermentables.each do |recipe_fermentable| %>
    <ul>
      <li><%= recipe_fermentable.fermentable.name %></li>
    </ul>
<% end %>

<br>

<label>Hops</label>
<% @recipe.recipe_hops.each do |recipe_hop| %>
    <ul>
      <li><%= recipe_hop.hop.name %></li>
    </ul>
<% end %>

<br>

<label>Yeast</label>
<% @recipe.recipe_yeasts.each do |recipe_yeast| %>
    <ul>
      <li><%= recipe_yeast.yeast.brand %></li>
      <ul>
        <li><%= recipe_yeast.yeast.variety %></li>
      </ul>
    </ul>
<% end %>

<% if @recipe.user == current_user %>
  <p>edit</p>
<% end %>
