<% if fermentable.object.id.nil? %>
  <div class="row new-ingredient-attributes">
    <div class="col-md-6 new-attribute-label">
      <%= fermentable.label "Name:" %>
    </div>
    <div class="col-md-6">
      <%= fermentable.text_field :name %>
    </div>
  </div>

  <div class="row new-ingredient-attributes">
    <div class="col-md-6 new-attribute-label">
      <label>PPG:</label>
    </div>
    <div class="col-md-6">
      <%= fermentable.number_field :pound_per_gallon %>
    </div>
  </div>

  <div class="row new-ingredient-attributes">
    <div class="col-md-6 new-attribute-label">
      <%= fermentable.label "Lovibond:" %>
    </div>
    <div class="col-md-6">
      <%= fermentable.number_field :lovibond %>
    </div>
  </div>

  <div class="row new-ingredient-attributes">
    <div class="col-md-6 new-attribute-label">
      <label>DP:</label>
    </div>
    <div class="col-md-6">
      <%= fermentable.number_field :diastatic_power %>
    </div>
  </div>

  <div class="row new-ingredient-attributes">
    <div class="col-md-6 new-attribute-label">
      <label>Amount:</label>
    </div>
    <div class="col-md-6">
      <input type="number" name="recipe[new_fermentable][][amount]"> (lbs)
    </div>
  </div>
<% end %>
