<!DOCTYPE html>
<html>
  <head>
    <title>BeerRecipes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <% if user_signed_in? %>
          <%= render 'layouts/navbar_signedin'%>
        <% else %>
          <%= render 'layouts/navbar_signedout'%>
        <% end %>
      </div>
    </nav>

    <% if alert || notice %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
  </body>
</html>
